
.greenText{
    color: green;
}

.redText {
    color: red;
}

.tile {
    margin: 20px;
}

.chart-hidden {
    display: none; 
    height: 300px; 
    width: 600;"
}

.chart-show {
    display: block; 
    height: 300px; 
    width: 600;"